.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
button {
  background: orange;
  color: white;
  padding: 0.5rem;
  border: none;
  transition: all 0.5s;
  border-radius: 0.5rem;
}

button:hover {
  transform: scale(1.2);
}
button:active {
  transform: scale(0.9);
}
